.header {
    padding: 50px 27px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul,li,p,
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

.logo {
    display: inline-block;
    width: 97px;
    height: 30px;
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.header__left {
    display: flex;
    align-items: center;
    gap: 92px;
}

.header__menu-list {
    display: flex;
    gap: 54px;
}

.header__menu-link {
    padding: 10px;
    border-bottom: 1px solid transparent;
    transition: all .35s;
}

.header__menu-link:hover {
    border-bottom: 1px solid currentColor;
    transition: all .35s;
}

/* .menu__list {
    display: flex;
    gap: 54px;
} */

.header__socials-list {
    display: flex;
    gap: 30px;
}




.socials__link {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform .35s;

}

.socials__link:hover {
    transform: scale(1.26);
    transition: transform .35s;
}

.socials__link--inst {
    background-image: url('../images/inst.svg');

}

.socials__link--fb {
    background-image: url('../images/fb.svg');
}