.hero {
    
}

.hero__inner {
    /* display: flex; */
    position: relative;
}


.hero__title {
    font-size: 48px;
    line-height: 125%;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1.44px;
}

.hero__text {
    max-width: 676px;
    padding-top: 235px;
}


.hero__subtitle {
    font-size: 40px;
    margin-bottom: 20px;

}

.hero__block-offset {
    padding-left: 92px;
}

.hero__descr {
    margin-bottom: 40px;
}

.hero__btn {
    padding: 20px 30px;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.40px;
    font-weight: 700;
    box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.30);

}

/* .hero__img {
    position: absolute;
    top: 0;
    right: 0;
    left: 317px;
    background-image: url('../images/hero-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 996px;
    height: 930px;
    z-index: 2;
}

.hero__img::before {
  position: absolute;
  content: "";
  opacity: 0.2;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    top: 0;
    bottom: 0;
    right: 0;
    width: 464px;
    height: 850px;

} */